#entry{
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top:50px;
    margin-left: 50px;
    width: 700px;
    float: left;
}

#entry-tagline{
    font-size: 5em;
}

#entry-description{
    font-size: 1.5em;
    font-family: arial, helvetica, sans-serif;
    margin-bottom: 30px;
}

#register {
    display: none;
}

#auth {
    margin-top: 30px;
    width: 400px;
    height: 500px;
    float: right;
}

#auth-form{
    margin-top: 20px;
}

#login, #register{
    float: left;
}

#show-registration-form, #show-login-form, #logout {
    border-radius: 10px;
    width: 190px;
    cursor: pointer;
}

#logout{
    margin-top: 30px;
    margin-left: 105px;
}


#start {
    width: 250px;
    height: 150px;
    background-color: lightblue;
    color: midnightblue;
    margin: 100px auto;
    text-align: center;
    line-height: 150px;
}